<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport", content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/media/images/logo-mobile.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap" rel="stylesheet">    
    <title>Orbit Exploration</title>
</head>

<body class="home">
  <header class="primary-header flex">
    <video autoplay loop muted>
      <source src="/static/media/videos/earth_bkg.mp4">
    </video>

    <div class="logo">
      <img href="#">
    </div>
    <button class="mobile-nav-toggle" aria-controls="primary-navigation"><span class="sr-only" aria-expanded="false">Meniu</span></button>
    <nav>
        <ul id="primary-navigation" data-visible="false" class="primary-navigation underline-indicators flex">
            <li class="active"><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/"><span aria-hidden="true">00</span>Acasa</a>
            <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/planets"><span aria-hidden="true">01</span>Planete</a>
            <li><a class=" ff-sans-cond uppercase text-white letter-spacing-2" href="/comets"><span aria-hidden="true">02</span>Comete</a></ul>
    </nav>
  </header>

  <main id="main" class="grid-container grid-container--home">
    <div>
      <h1 class="text-accent fs-500 ff-sans-cond uppercase letter-spacing-1">Vrei sa calatoresti in
      <span class="d-block fs-900 ff-serif text-white">Spatiu?</span></h1>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec egestas diam, a viverra erat. In dignissim feugiat mollis. Morbi ac justo a orci porttitor faucibus ut tincidunt ipsum. Mauris hendrerit ipsum eu eros volutpat consequat. Nam varius ex nec ante mattis, eu hendrerit ex pellentesque.</p>
    </div>
    <div>
      <a href="/planets" class="large-button uppercase ff-serif text-dark bg-white">Explore</a>
    </div>
  </main>

</body>
  <script src="/static/js/navbar-mobile.js" defer></script>
</html>